@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Management </title>


    <link href="~/Contents/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/alertify.js-0.3.12/dist/css/alertify.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Contents/assets/css/site.css" />
    <link rel="stylesheet" href="~/Contents/assets/css/TaskManagement.css" />
    <script src="~/Contents/assets/js/jquery.min.1.11.1.js"></script>
    <script src="~/Contents/assets/js/bootstrap.min.js"></script>
    <script src="~/Contents/assets/js/site.js"></script>
    <script src="~/Scripts/alertify.js-0.3.12/dist/js/alertify.js"></script>
    <script src="~/Scripts/Login.js"></script>
</head>
<body>
    <div class="elements w-full">
        <div class="sidebarWrap">
           
        </div>
        <div class="rightside">         
            <div class="page-content"> 
                <div class="content-wrapper" style="padding-top: 100px !important">
                    <h3 style="text-align: center; padding-right: 60px; color: #77659A !important "> Task Management <a href="javascript://" onclick="window.location.href = window.location.href"><i class="fa fa-times"></i></a></h3>


                    <div class="form-view">
                        <div class="min-height-vh70" style="width: 50%;margin: 0 auto !important">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="cUserName">User Name</label>
                                        <input type="text" id="cUserName" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="cPassWord">PassWord</label>
                                        <input type="password" id="cPassWord" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="actions" style="text-align: center !important">
                                        <button type="button" class="add" onclick="return savedata()">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



